---
  name: Build and push Docker Image to GCR
  on:
    push:
      branches: [main]
  
  jobs:
    build:
      name: Build and Push to Container registry
      runs-on: ubuntu-latest
      
      
      steps:
      - name: Checkout
        uses: actions/checkout@v3
  
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
  
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: 'Create env file'
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env
          
      - name: Build, tag, and push image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: test
          IMAGE_TAG: latest
          SERVICE_NAME: article
        run: |
          #docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          #docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
          
          docker build -t $SERVICE_NAME .
          docker tag $SERVICE_NAME $ECR_REPOSITORY:$SERVICE_NAME
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$SERVICE_NAME
          docker rmi $ECR_REPOSITORY:$SERVICE_NAME
