---
  name: Build and push Docker Image to GCR
  on:
    push:
      branches: [main]
  
  jobs:
    build-push-gcr:
      name: Build and Push to GCR
      runs-on: ubuntu-latest
      env:
        IMAGE_NAME: devops/article-api
        PROJECT_ID: my-bitnami-hosting
      
      steps:
      - name: Checkout
        uses: actions/checkout@v3
  
      - uses: google-github-actions/setup-gcloud@v0.3.0
        with:
          service_account_key: ${{ secrets.SERVICE_ACCOUNT_KEY }}
          project_id: ${{ env.PROJECT_ID}}
          export_default_credentials: true
  
      - name: Build Docker Image
        run: docker build -t $IMAGE_NAME:latest .
  
      - name: Configure Docker Client
        run: |-
          gcloud auth configure-docker --quiet
  
      - name: Push Docker Image to Container Registry (GCR)
        env:
          GIT_TAG: v0.1.0
        run: |-
          docker tag $IMAGE_NAME:latest gcr.io/$PROJECT_ID/$IMAGE_NAME:latest
          docker tag $IMAGE_NAME:latest gcr.io/$PROJECT_ID/$IMAGE_NAME:$GIT_TAG
          docker push gcr.io/$PROJECT_ID/$IMAGE_NAME:latest
          docker push gcr.io/$PROJECT_ID/$IMAGE_NAME:$GIT_TAG
